@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

footer.attribution {
  margin-top: 2rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 11px;
}
footer.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}

body {
  background-color: hsl(217deg, 54%, 11%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

/*Card Design
---------------*/
main.card {
  -webkit-box-shadow: 0 0 15px hsl(216deg, 50%, 16%);
          box-shadow: 0 0 15px hsl(216deg, 50%, 16%);
  background-color: hsl(216deg, 50%, 16%);
  max-width: 22rem;
  height: 35rem;
  border-radius: 10px;
  padding: 22px;
}
main.card .img-wrapper, main.card .img-wrapper .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main.card .img-wrapper {
  position: relative;
}
main.card .img-wrapper img {
  width: 100%;
  border-radius: 10px;
}
main.card .img-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
main.card .img-wrapper .overlay:hover {
  opacity: 0.65;
  background-color: hsl(178deg, 100%, 50%);
  cursor: pointer;
}

/*Text Content Design
------------------------*/
div.content h1 {
  width: 62%;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.25rem;
  margin: 15px 0;
}
div.content p {
  color: hsl(215deg, 51%, 70%);
}
div.content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
div.content ul li svg {
  margin-right: 3px;
}
div.content ul li#item1 {
  color: cyan;
}
div.content ul li#item2 {
  color: hsl(215deg, 51%, 70%);
}
div.content hr {
  border-top: 0.2px solid hsl(215deg, 51%, 70%);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 10px;
}

.avatar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar-wrapper img {
  width: 12%;
  border: 0.5px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
  margin-right: 10px;
}
.avatar-wrapper span {
  color: hsl(0deg, 0%, 100%);
}

div.content h1:hover, span:hover {
  color: hsl(178deg, 100%, 50%);
  cursor: pointer;
  -webkit-transform: opacity;
          transform: opacity;
}

/*Media Queries
------------------*/
@media only screen and (max-width: 425px) {
  main.card {
    width: 18rem;
    height: 31rem;
  }

  .content p {
    font-size: 15px;
  }
}